*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 0rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #777;
  height: 100vh;
}
button {
  border: 0;
  outline: 0;
}
@media (max-width: 415px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 321px) {
  html {
    font-size: 4.5px;
  }
}
